:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: #ddd;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.rules-list {
  /* not applying, take a look at adding bolder fonts */
  font-weight: bolder;
  margin-top: 20px;
}

.rules-list > ol > li {
  margin: 0 5px 10px 30px;
}

.rules-list > ol > li > ul li {
  margin-left: 100px;
}

.nav-drop-down-list {
  background: #6E0434;
  /* border-top: 1px solid black; */
  /* text-align: right; */
  position: sticky;
  top: 80px;
}

@media screen and (min-width: 900px) {
  .nav-drop-down-list {
    display: none;
  }
}

.nav-drop-down-list li a {
  height: 60px;
  text-align: right;
}

.home-title {
  color: white;
  text-align: center;
  padding: 30px;
}

.home-subtitle {
  color: white;
  text-align: center;
}

.partidos, .team-list, .user-list, .ranking-list, .rules-container {
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.home-header {
  display: flex;
  margin: 50px;
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .home-header {
    display: none;
  }
  .home-title {
    display: none;
  }
  .home-subtitle {
    display: none;
  }

  .partidos, .team-list, .user-list, .ranking-list, .rules-container {
    padding: 60px 5px;
  }
}

.language img {
  border-radius: 50%;
}

.select-label {
  display: flex;
  gap: 10px;
}

.game-titles {
  display: flex;
  gap: 10px;
}



/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

*/

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
